body {
    margin:0;
    padding:0;
    background: #000
}

p {
    font-size: 15px;
    line-height: 15px;
    text-align: justify;
    background: url(ain.jpg)no-repeat center/cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(225, 225, 225, 0.204);
}